@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 218 52% 98%;
    --foreground: 218 77% 2%;
    --muted: 218 19% 92%;
    --muted-foreground: 218 14% 40%;
    --popover: 218 52% 98%;
    --popover-foreground: 218 77% 2%;
    --card: 218 52% 98%;
    --card-foreground: 218 77% 2%;
    --border: 218 8% 92%;
    --input: 218 8% 92%;
    --primary: 218 27% 70%;
    --primary-foreground: 218 27% 10%;
    --secondary: 218 10% 87%;
    --secondary-foreground: 218 10% 27%;
    --accent: 218 10% 87%;
    --accent-foreground: 218 10% 27%;
    --destructive: 16 99% 22%;
    --destructive-foreground: 16 99% 82%;
    --ring: 218 27% 70%;
    --chart-1: 218 27% 70%;
    --chart-2: 218 10% 87%;
    --chart-3: 218 10% 87%;
    --chart-4: 218 10% 90%;
    --chart-5: 218 30% 70%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 218 35% 1%;
    --foreground: 218 28% 98%;
    --muted: 218 19% 8%;
    --muted-foreground: 218 14% 60%;
    --popover: 218 35% 1%;
    --popover-foreground: 218 28% 98%;
    --card: 218 35% 1%;
    --card-foreground: 218 28% 98%;
    --border: 218 8% 10%;
    --input: 218 8% 10%;
    --primary: 218 27% 70%;
    --primary-foreground: 218 27% 10%;
    --secondary: 218 10% 15%;
    --secondary-foreground: 218 10% 75%;
    --accent: 218 10% 15%;
    --accent-foreground: 218 10% 75%;
    --destructive: 16 99% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 218 27% 70%;
    --chart-1: 218 27% 70%;
    --chart-2: 218 10% 15%;
    --chart-3: 218 10% 15%;
    --chart-4: 218 10% 18%;
    --chart-5: 218 30% 70%;
  }
}

